/* navbar styles */

.navbar, .navbar.dark {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}
 
.navbar {
    background-color: #effaf0;
}

.navbar.dark {
    color: #eee;
    background-color: #1f9751;
}

.navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
}

.title {
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.navbar button, .navbar a{
    margin-right: 30px;
}

.navbar a{
    color: #333;
    text-decoration: none;
    padding-bottom: 2px;
    position: relative;
}

.navbar.dark a{
     color: #effaf0;
}

.navbar a::after {
    position: absolute;
    background-color: #333;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
	bottom: -5px;
    transition: all 0.2s ease-in-out;
}

.navbar.dark a::after {
    background-color: #effaf0;
}

.navbar a:hover::after, .navbar.dark a:hover::after{
    width: 100%;
    left: 0;
}

.navbar img {
    width: 2.2em;
    cursor: pointer;
}
